<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3ROhm8tdvuxpTiaFv61esNZX-Kdnnos4</string>
	<key>GCM_SENDER_ID</key>
	<string>960751971143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comparePrices</string>
	<key>PROJECT_ID</key>
	<string>bk-compare-prices</string>
	<key>STORAGE_BUCKET</key>
	<string>bk-compare-prices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960751971143:ios:87541d67d965267d71ba62</string>
</dict>
</plist>